<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mini1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,425},{85,98}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{85,98}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>mini10.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,412},{91,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,6},{91,92}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>mini11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{103,100}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{103,100}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>mini12.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,2},{79,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{79,102}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>mini13.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,313},{97,96}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,3},{97,96}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>mini14.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,2},{89,98}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{89,98}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>mini15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{87,104}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,1},{87,104}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>mini16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{93,104}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,1},{93,104}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>mini17.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,108},{87,102}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,1},{87,102}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>mini18.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,412},{81,96}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{81,96}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>mini2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{91,104}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{91,104}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>mini3.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,104},{99,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{99,94}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>mini4.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,212},{99,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{99,94}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>mini5.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,205},{87,90}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{87,90}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>mini6.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,214},{89,102}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,3},{89,102}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>mini7.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{97,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{97,100}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>mini8.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,318},{93,100}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{93,100}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
            <key>mini9.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,425},{83,98}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{83,98}}</string>
                <key>sourceSize</key>
                <string>{103,106}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>emoji.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66010f86a242788f08335f81e8dcb51a$</string>
            <key>textureFileName</key>
            <string>emoji.png</string>
        </dict>
    </dict>
</plist>
